# Ignore intelliJ
.idea
.idea_modules
.history
.settings
target
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
# Ignore logs files
logs/
node_modules/
typings/
